<style>
.navbar.navbar-fixed-top{display:none}
.page-header{text-align: center}
</style>
<div class="page-header">
  <h1>万国司考</h1>
</div>
<div class='row text-center'>
<a href="http://zhushou.360.cn/detail/index/soft_id/1579992?recrefer=SE_D_" class='btn'>安卓版本下载</a>
<a href='http://mp.weixin.qq.com/mp/redirect?url=https://itunes.apple.com/cn/app/wan-guo-si-kao/id852759260?mt=8' class='btn'>IOS版本下载</a>
<br/>
<% if request.host == 'app.wanguoschool.net' %>
<%= image_tag 'download_qrcode.png'%>
<% end %>

<% if request.host == 'wg.edu58.cn' %>
<%= image_tag 'download_qrcode_edu58.png'%>
<% end %>

<%
user_agent = UserAgent.parse(request.user_agent)
%>
<%= user_agent.platform %>
</div>