<h1>welcome</h1>
<hr/>
<% if current_user && can?(:valid,Captcha) %>
<%=link_to '查看验证码',{:controller=>:captchas,:action=>:valid},:class=>'btn'%>  
<% end %>

<% if current_user && can?(:view,Import) %>
<%=link_to '导入题库',{:controller=>:imports,:action=>:index},:class=>'btn'%>  
<% end %>