<div class="page-header">
  <h1>新数据模板说明及注意事项</h1>
</div>

<ol style='font-size:16px!important;line-height:150%;'>
  <li>结构:最外层文件夹名为部门法的名字,如“国际法”,里面有 免费法条,法条班两个文件夹,真题,知识点三个表,所有内容按格 式填写,没有数据的列可以为空,但是不能删除。
  </li>
  <li>
  	每个 Excel 的第一行标题的名称必须严格按照以下规范:
  	<ul style='font-size:16px!important;line-height:150%;'>
			<li>免费法条 Excel:法条编号 编 章 节 法条内容</li>
			<li>法条班 Excel:法条编号 音频 真题 知识点 填空 内容A 填空内容B 填空内容C ......</li>
			<li>真题 Excel:真题题号 标题 类型 分值 答案 解 析一 解析三 选项A 解析A 选项B 解析B 选项 C 解析C 选项D 解析D ......</li>
			<li>知识点 Excel:一级目录 二级目录 知识点(考点) 真 题题号和选项</li>
  	</ul>
  </li>
  <li>知识点 Excel 的一级目录,必须和最外层文件夹名字一样,比如 最外层文件夹名字为“04 宪法”,则知识点的一级目录也必须为“04 宪法”,且每一行都需要填上。</li>
  <li>每个 Excel 必须保存成 xls 格式,且不能加任何外部链接,暂不 支持 xlsx 和其他格式</li>
  <li>法条班法条的填空数据,需要每一个填空内容针对一个单元格, 如一个填空里面有两个空的答案都是“公安部”,应该写成:填空 1: “公安部”,填空 2:“公安部”两个单元格,所有的填空答案内容需 按顺序填写,不可打乱,有几个就填几个。</li>
	<!-- <li>法条班的音频数据,需要填一个 http 的网络地址,MP3 文件的 上传工作另外做</li>   -->
	<li>法条的“编”,“章”,“节”数据,必须对应到每一条法条数据, 如法条 1 和法条 2 都属于第一章第一节,那么法条 1 和法条 2 的章和 节数据都需要填上“第一章”和“第一节”;如果没有编章节内容, 则为空。</li>
	<li>法条填空中如果出现如下情况:法条内容为“............公安部..................公安部............”,其中第 2 个“公安部”为填空项, 则在设置填空答案时,应该写成:填空 1:“公安部(2)”,切记,这 里的括号必须是英文输入法下的括号,千万不能写成中文的。</li>
	<li>真题结构表,将原来的解析列拆分开,其中解析一的内容是在各 选项解析内容之前显示的内容,解析三,是在各选项解析内容之后显 示的内容,也就是说,客户端的解析的显示顺序是这样的:<br/>
		<%=image_tag 'explain/explain1.jpg'%>
		<ul style='font-size:16px!important;line-height:150%;'>
			<li>其中红色字体部分,是程序自动添加的,上传的数据里面不用填写; </li>
			<li>同时,因为每个选项的显示顺序为随机,也就是这次是 A 选项,说 不定下次就是 D 选项,所以在每个选项的解析内容中,不能出现“A 选项”,“B 选项”这类字眼,一律用“本选项”或“该选项”代替; </li>
			<li>所有的解析内容都不是必填的,客户端会自动判断,有数据就显示, 没数据就不显示,上传数据时,根据实际需要填写。</li>
		</ul>
	</li>
	<li>
数据及音频压缩包打包说明: 数据包以部门法文件夹为根进行打包,如:选中“04 宪法”文
件夹,右键压缩成 zip 即可,一个 zip 只能包含一个部门法文件夹 音频包直接选中音频文件进行打包,如,需要上传 001.MP3, 002.MP3,003.MP3 三个文件,则用鼠标同时选中这三个文件,右键
压缩成 zip 即可 一个音频对应一条法条,音频文件必须以对应的法条编号命名,
格式为 MP3(暂不支持其他格式),如“101034.MP3” 压缩包必须为 zip 格式(暂不支持其他格式)

	</li>
</ol>￼   
￼￼￼￼￼


